.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#vidtop-content {
  top: 0;
}

body {
  margin: 0;
}

.img {
  width: 100%;
}

.title {
  font-family: 'Russo One', sans-serif;
  font-size: 5rem;
  text-align: center;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__title {
  margin: 0;
  margin-bottom: 4rem;
}
.hero__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-block {
  max-width: 200px;
  object-fit: cover;
}

.hero__img-block {
  margin-right: 7rem;
}

.hero__image {
  width: 100%;
 
}
.hero__block {
  margin-bottom: 3rem;
}

.hero ul, .promo ul {
  list-style-type: none;
}
.promo ul {
  display: flex;
  justify-content: center;
}

.hero li, .promo li {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

.hero li {
  margin-bottom: 1rem;
}
.promo li {
  margin-right: 1rem;
}

.promo li:last-child {
  margin-right: 0;
}

.btn {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  padding: 10px 30px;
  max-width: 15rem;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  background-color: rgb(106, 56, 110);
  color: #ffffff;
}

.btn:hover {
  background-color: rgb(161, 122, 161);
}

.ingredients,
.promo {
  padding: 80px 0;
  background: linear-gradient(to top, #c99dfd, #faeafe);
}

.feedbacks,
.order {
  padding: 80px 0;
  background: linear-gradient(to top, #faeafe, #c99dfd);
}
.ingredients__container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 50rem;
}
.ingredients__col:nth-child(2) {
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.ingredients__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.ingredients__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.ingredients__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.ingredients__image--big {
  width: 100%
}

.ingredients__img--big {
  max-width: 200px;
  margin-bottom: 2rem;
}

.promo__image-block {
  max-width: 500px;
  margin: auto;
  margin-bottom: 2rem;
}

.promo__container {
  display: flex;
  flex-direction: column;
}


.timer {
  font-family: 'Russo One', sans-serif;
  font-size: 3.5rem;
  text-align: center;
}

.order__timer {
  margin-bottom: 3rem;
}

.order__title {
  margin: 0;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__block {
  display: flex;
  flex-direction: column;
}

.order__block:nth-child(1) {
  margin-right: 4rem;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.order__image {
  max-width: 220px;
  margin-bottom: 1.5rem;
}

.price--old {
  font-family: 'Russo One', sans-serif;
  font-size: 1.8rem;
  text-decoration: line-through;
}

.price--new {
  font-family: 'Russo One', sans-serif;
  font-size: 2rem;
  color: #fd39bc;
  animation-duration: 3s;
  animation-name: resize;
  animation-iteration-count: 2
}

@keyframes resize {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.order__price:nth-child(1) {
  margin-right: 1rem;
}

.order__label {
  margin-bottom: 0.3rem;
}

.order__input {
  margin-bottom: 0.8rem;
  padding: 5px 0 5px 5px;
  /* position: relative; */
}

.order__subtitle {
  margin: 0;
  margin-bottom: 3rem;
}

.oder__btn {
  margin-top: 2rem;
}

.help {
  display: none;
  /* position: absolute; */
}

.input:focus + .help,
.input:valid + .help {
  display: flex;
  font-size: 0.7rem;
  transform: translate(84%, -2.5rem);
}

.person-img {
  max-width: 100px;
  border-radius: 50%;
}

.person-name {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;

}

.feedbacks__person-img {
  margin-bottom: 1rem;
}

.slide {
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 40rem;
  margin: auto;
  display: none;
}

.slide--active {
  display: flex;
}